h1 {
  color: green;
  text-align: center;
  font-style: italic;
}

/* .button {
margin: auto;
align-content: center;
background-color: green;
border: none;
color: white;
padding: 12px 24px;
text-align: center;
text-decoration:underline;
display: block;
font-size: 22px;
} */

button{
  color:#08233e;
  font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  padding:14px;
}
